mwca_env/
__pycache__/
*.py[cod]
.DS_Store
*.npy

preprocessor-2.py
raster-to-vector.py

image_generator_tests/
image_postprocessed_tests/

output_generator_*/
output_postprocessed_*/
preprocessor_output*/