
# Python Pipeline
mwca_env/
__pycache__/
*.py[cod]
.DS_Store
*.npy

preprocessor-2.py
raster-to-vector.py

image_generator_tests/
image_postprocessed_tests/
image_gen_prompts/

output_final_*/
output_postprocessed_*/
output_generator_*/
preprocessor_output*/

# Go Server
server/.env
server/api
server/bin/
